.Container{
    background: #ffff;
    color: #454545;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .row{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        .Cards{
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            margin-top: 5rem;
            img{
                width: 25%;
                image-rendering: auto;
                image-rendering: crisp-edges;
                image-rendering: pixelated;
              
                /* Safari seems to support, but seems deprecated and does the same thing as the others. */
                image-rendering: -webkit-optimize-contrast;
            }
            p{
                font-size: 15px;
                line-height: 25px;
            }
        }
    }
}

@media screen and (max-width : 950px) {
    .Container{
        background: #ffff;
        color: #454545;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .row{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            .Cards{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                margin-top: 5rem;
                img{
                    width: 25%;
                }
            }
        }
    }
    
}